@charset "UTF-8";
.description {
    font-size: 1.18em;
    border-top: 1px solid #cdcdcd;
    margin-bottom: 10px;
    padding-top: 10px;
}
.description p, .product-info .description ul {
    margin-bottom: 10px;
}
.description ul {
    font-size: 1.4em;
}
.description ul li {
    /*background: url("_ui/theme-default/images/backgrounds/bg_bullet.png") no-repeat scroll 0 6px rgba(0, 0, 0, 0);*/
    line-height: 1.42857;
    padding-left: 15px;
}
.description ul li a:hover {
    background: none repeat rgba(0, 0, 0, 0);
    border-bottom: 1px solid #333333;
}

.icon{
    margin-right: 5px;
    margin-left: 5px;
}
dl {
    font-size: 0.9em;
    line-height: 1.43;
    margin-top: 5px;
    margin-bottom: 10px;
}
dl dt {
    float: left;
    width: 145px;
}
.des-ul ul{
    margin: 0px ! important;
    padding-left: 5px ! important;
}
#pdf {
    height: 700px;	
}

#pdf p {
    padding: 1em;
}

#pdf object {
    display: block;
    border: solid 1px #666;
}



