@charset "UTF-8";
/*start for nav*/
#nav-static {
    width: 100%;
    position:static;
    top:-32px;
    padding-bottom:10px;
    padding-top: 10px;
    margin: 0%
}

/*#nav.affix {
    position: fixed;
    top: 0;
    z-index:10;
    -webkit-transition: all .6s ease-in-out;
}*/
#nav-static .dropdown ul li a {
    color: #2d2d2d;
    display: block;
    font-size: 1.1em;
    padding: 13px 20px;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out 0s;
    font-size: 22px;
}
#nav-static ul li.active a {
    color: #57c5a0;
}
#nav-static ul li a:hover {
    color: #57c5a0;
}
/*end for nav */




/*for menu each page*/ 


/*end for menu*/

/*for page content*/
#content{
/*    margin-top: 2%;
*/    margin-bottom: 2%; 

}
#content .row{
    padding-left: 1%;
    padding-right: 1%;
}

/*end for page content*/
/* for slides*/ 
#owl-1 .slide-item{
    padding:5px;
}
#owl-1 .slide-item img{
    display: block;
    width: 100%;
    /*height: auto;*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* Title */
#owl-1 .slide-item .title-slide{
    position: absolute;
    bottom: 5%;
    left: 0;
    margin: 0;
    padding: 3%;
    width: 100%;
    background: #F0F8FF;
    color: #3C2404;
    opacity: 0.7;   
    /*text-transform: uppercase;*/
    /*    letter-spacing: 1px;
        font-weight: 500;
        font-size: 1.134em;*/
    -webkit-transition: -webkit-transform 0.2s, color 0.2s;
    transition: transform 0.2s, color 0.2s;
}
/*#owl-1 .slide-item .title-slide p{
    position: absolute;
    bottom: 5%;
    left: 0;
    margin: 0;
    padding: 3%;
    width: 100%;
}*/
.read_more_slide {
    position: absolute;     
    bottom: 5%;
    right: 5%;
}
.read_more_slide a{
    display:inline-block;  
    background: #242424 ;
    border: 1px solid #242424;
    padding: 10px 20px;
    outline: none;
    color: #ffffff ! important;
    font-size: 1em;
    text-transform: capitalize;
    -webkit-appearance: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}

.read_more_slide a:hover{
    background: #57C5A0;    
    border: 1px solid #57c5a0;
}
/*end*/

/*activity fees*/
.ticker {
    border: 1px solid #ccc;
    /*margin: 25px 0;*/    
}
.ticker ul {
    list-style: none outside none;
    padding: 0;
    width: 100%;
}

.ticker li {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 20px 20px 40px 20px;
}
.ticker li.odd {
    background: none repeat scroll 0 0 #fafafa;
}
.tickerli:after {
    clear: both;
    content: "";
    display: block;
}
.ticker img {
    float: left;
    margin: 5px 15px 0 0;
    width: 100px;
}
.ticker a {
    color: #06f;
    /*font-family: Arial,sans-serif;*/
    margin: 0;
    font-size: 1.2548em;
    font-weight: bold;
    float:right;
}
.ticker p {
    font-size: 0.8em;
    margin: 15px 0 0;
}

/*end activity*/
.name{
    font-size: 1.58em;
}
.description {
    font-size: 1.18em;
    border-top: 1px solid #cdcdcd;
    margin-bottom: 10px;
    padding-top: 10px;
}
.description p, .product-info .description ul {
    margin-bottom: 10px;
}
.description ul {
    font-size: 1.4em;
}
.description ul li {
    /*background: url("_ui/theme-default/images/backgrounds/bg_bullet.png") no-repeat scroll 0 6px rgba(0, 0, 0, 0);*/
    line-height: 1.22857;
    padding-left: 15px;
}
.description ul li a:hover {
    background: none repeat rgba(0, 0, 0, 0);
    border-bottom: 1px solid #333333;
}

.icon{
    margin-right: 5px;
    margin-left: 5px;
}
dl {
    font-size: 0.9em;
    line-height: 1.43;
    margin-top: 5px;
    margin-bottom: 10px;
}
dl dt {
    float: left;
    width: 145px;
}
.des-ul ul{
    margin: 0px ! important;
    padding-left: 5px ! important;
}
#pdf {
    height: 700px;	
}

#pdf p {
    padding: 1em;
}

#pdf object {
    display: block;
    border: solid 1px #666;
}


/* start title */
.title_bg{
    background: #242424;
}
.title_top{
    padding: 10px;
    padding-left: 2%;
}
.title_top h2{
    color:#57c5a0;
}
.scroll-area {
    /*height: 250px;*/
    position: relative;
    overflow: auto;
}


/*box contact us*/
.box-contact_us {
    border: 4px solid #fff;
    margin-bottom: 5%; 
    padding: 3% 4%;
    overflow: hidden;
    width: 100%;

    background-image: -moz-linear-gradient(top, #f6f2ec, #e2dbce); /* FF3.6 */
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f6f2ec),color-stop(1, #e2dbce)); /* Saf4+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#f6f2ec', EndColorStr='#e2dbce'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f6f2ec', EndColorStr='#e2dbce')"; /* IE8 */

    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35), 0 85px 180px 0 #fff, 0 12px 8px -5px rgba(0, 0, 0, 0.85); /* FF3.5+ */
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35), 0 85px 810px -68px #fff, 0 12px 8px -5px rgba(0, 0, 0, 0.65); /* Saf3.0+, Chrome */
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.35), 0 85px 180px 0 #fff, 0 12px 8px -5px rgba(0, 0, 0, 0.85); /* Opera 10.5, IE 9.0 */

}
.reveal {
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35), 0 85px 180px 0 #f90, 0 12px 8px -5px rgba(0, 0, 0, 0.85); /* FF3.5+ */
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35), 0 85px 810px -68px #f90, 0 12px 8px -5px rgba(0, 0, 0, 0.65); /* Saf3.0+, Chrome */
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.35), 0 85px 180px 0 #f90, 0 12px 8px -5px rgba(0, 0, 0, 0.85); /* Opera 10.5, IE 9.0 */			
}
/*end*/

/*page*/
/* Scroll top */
.scroll-top {
    position:fixed;
    bottom:0;
    right:6%;
    z-index:100;
    background: #f2f3f2;
    font-size:24px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}
.scroll-top a:link,.scroll-top a:visited {
    color:#222;
} 


/* start main */
.main_bg{
    background: #EBE7DF;
}

.main{
    /*padding:4%;*/
    padding-bottom: 4%;
    padding-top: 4%;

}
.top_main{
    margin:3% 0%;
}
.top_main:first-child{
    margin-top: 0;
}
.top_main h2{
    float: left;
    text-transform: capitalize;
    color: #242424;
    font-size: 1.5em;
    text-shadow: 0 1px 0 #ffffff;
    line-height: 1.8em;
}
.top_main a{
    font-size: 1em;
    float: right;
    text-transform: capitalize;
    padding: 8px 20px;
    color: #BCB4A7;
    border: 1px solid #BCB4A7;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.top_main a:hover{
    background:#BCB4A7;
    color: #fff;
}

a, a:visited,a:hover,a:active {
    color: inherit;
}


.footer{
    /*padding: 2%;*/
    /*position: static;*/
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    /*background-color: #f5f5f5;*/
}
.foot{
    padding-bottom: 2%;
}
.footer_bg{    
    background: #2e2e2e;
}
/* start footer_top */
.footer_top{
    padding-top: 2%;
    /*background: #242424;*/
}
.footer_top h3{
    font-size: 1.2em;
    color: #5e5e5e;
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px;
    margin-bottom: 6%;
}
.footer_top  p{
    font-size: 0.8725em;
    color: #9B9B9B;
    line-height: 1.8em;
    -webkit-text-stroke: 0.5px;
    font-style: italic;
}
.footer_top  address{
    font-size: 0.8725em;
    color: #9B9B9B;
    line-height: 1.8em;
    -webkit-text-stroke: 0.5px;
    font-style: italic;
}
.footer_top  a{
    color: #57C5A0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.footer_top  a:hover{
    color: #9B9B9B;
}

/* start footer_mid */
.footer_mid{

    padding-top: 2%;
    padding-bottom: 1%;
    color: #fff;
    border-top:1px solid #141414;
    background: #242424;
}

/* start footer_bottom */
.footer_bottom{
    color: #f3f3f3;
    padding-top: 20px;
    padding-bottom: 10px;
}

#gallery  {
   /* Prevent vertical gaps */
   line-height: 0;   
   -webkit-column-count: 4;
   -webkit-column-gap:   0px;
   -moz-column-count:    4;
   -moz-column-gap:      0px;
   column-count:         4;
   column-gap:           0px;
   padding-bottom: 10%;
   
}

#gallery a img {
  /* Just in case there are inline attributes */
  /*width: 100% !important;*/
  background-color: #57c5a0;
  display: block;
  height: auto !important;
  padding: 1%;
}
/*itemsDesktop1199*/
@media (max-width: 1200px) {
  #gallery {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
/*itemsDesktopSmall 973*/
@media (max-width: 1000px) {
  #gallery {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
/*itemsTablet 768*/
@media (max-width: 800px) {
  #gallery {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
/*itemsMobile*/
@media (max-width: 400px) {
  #gallery {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

/*end for Gallery*/
/*test*/
/**********************/
.bs-docs-sidebar.affix{
    position:static
}
@media (
min-width:768px){
    .bs-docs-sidebar{
        padding-left:20px
    }
}
.bs-docs-sidenav{
    margin-top:20px;
    margin-bottom:20px
}

.bs-docs-sidebar .nav>li>a{
    display:block;
    padding:4px 20px;
    font-size:20px;
    font-weight:500;
    color:#999
}
.bs-docs-sidebar .nav>li>a:hover,.bs-docs-sidebar .nav>li>a:focus{
    padding-left:19px;
    color:#563d7c;
    text-decoration:none;
    background-color:transparent;
    border-left:1px solid #563d7c
}
.bs-docs-sidebar .nav>.active>a,.bs-docs-sidebar .nav>.active:hover>a,.bs-docs-sidebar .nav>.active:focus>a{
    padding-left:18px;
    font-weight:700;
    color:#57c5a0;
    background-color:transparent;
    border-left:2px solid #57c5a0
}
.bs-docs-sidebar .nav .nav{
    display:none;
    padding-bottom:10px
}
.bs-docs-sidebar .nav .nav>li>a{
    padding-top:1px;
    padding-bottom:1px;
    padding-left:30px;
    font-size:12px;
    font-weight:400
}
.bs-docs-sidebar .nav .nav>li>a:hover,.bs-docs-sidebar .nav .nav>li>a:focus{
    padding-left:29px
}
.bs-docs-sidebar .nav .nav>.active>a,.bs-docs-sidebar .nav .nav>.active:hover>a,.bs-docs-sidebar .nav .nav>.active:focus>a{
    padding-left:28px;
    font-weight:500
}
.back-to-top,.bs-docs-theme-toggle{
    display:none;
    padding:4px 10px;
    margin-top:10px;
    margin-left:10px;
    font-size:12px;
    font-weight:500;
    color:#999
}
.back-to-top:hover,.bs-docs-theme-toggle:hover{
    color:#563d7c;
    text-decoration:none
}
.bs-docs-theme-toggle{
    margin-top:0
}
@media (min-width:768px){
    .back-to-top,.bs-docs-theme-toggle{
        display:block
    }
}
@media (min-width:992px){
    .bs-docs-sidebar .nav>.active>ul{
        display:block
    }
    .bs-docs-sidebar.affix,.bs-docs-sidebar.affix-bottom{
        width:213px
    }
    .bs-docs-sidebar.affix{
        position:fixed;
        top:20px
    }
    .bs-docs-sidebar.affix-bottom{
        position:absolute
    }
    .bs-docs-sidebar.affix-bottom .bs-docs-sidenav,.bs-docs-sidebar.affix .bs-docs-sidenav{
        margin-top:0;
        margin-bottom:0
    }
}
@media (min-width:1200px){
    .bs-docs-sidebar.affix-bottom,.bs-docs-sidebar.affix{
        width:242px
    }
}